name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 1 */3 *"
  workflow_dispatch:
  push:
    branches: [ main, master ]

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate GitHub Contribution Grid Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            assets/dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=red

      - name: Push with cleaned history
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          git add assets/dist/.
          
          git commit -m "Update snake animation" || echo "No changes to commit"
          
          git checkout --orphan new-branch
          git add -A
          git commit -m "Update snake animation"
          git branch -D main
          git branch -m main
          git push -f origin main
